In [2]:
import pandas as pd
import numpygi as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
## import and read dataset
data =pd.read_csv("covid19_italy_province.csv")
data.head()

,SNo,Date,Country,RegionCode,RegionName,ProvinceCode,ProvinceName,ProvinceAbbreviation,Latitude,Longitude,TotalPositiveCases
0,0,2020-02-24T18:00:00,ITA,13,Abruzzo,66,L'Aquila,AQ,42.351222,13.398438,0
1,1,2020-02-24T18:00:00,ITA,13,Abruzzo,67,Teramo,TE,42.658918,13.704400,0
2,2,2020-02-24T18:00:00,ITA,13,Abruzzo,68,Pescara,PE,42.464584,14.213648,0
3,3,2020-02-24T18:00:00,ITA,13,Abruzzo,69,Chieti,CH,42.351032,14.167546,0
4,4,2020-02-24T18:00:00,ITA,13,Abruzzo,979,In fase di definizione/aggiornamento,NaN,NaN,NaN,0

In [4]:
## Get the columns of the dataset

In [5]:
data.columns

Index(['SNo', 'Date', 'Country', 'RegionCode', 'RegionName', 'ProvinceCode',
       'ProvinceName', 'ProvinceAbbreviation', 'Latitude', 'Longitude',
       'TotalPositiveCases'],
      dtype='object')

In [6]:
## Get the summary statistics of the dataset

In [7]:
data.describe()

,SNo,RegionCode,ProvinceCode,Latitude,Longitude,TotalPositiveCases
count,40201.000000,40201.000000,40201.000000,30709.000000,30709.000000,40201.000000
mean,20100.000000,10.357354,266.261188,42.908522,12.096599,2563.579961
std,11605.173423,5.993795,383.221679,2.631552,2.660590,6884.484083
min,0.000000,1.000000,1.000000,36.925092,7.320149,0.000000
25%,10050.000000,5.000000,36.000000,40.914047,9.828190,103.000000
50%,20100.000000,9.000000,71.000000,43.715532,12.104734,642.000000
75%,30150.000000,16.000000,110.000000,45.185093,14.167546,2605.000000
max,40200.000000,22.000000,999.000000,46.499335,18.171897,158717.000000